<h1>New Game</h1>

<%= @characters %>

<form action="score" method="get" data-turbo="false">
  <!-- ... -->
  <%= hidden_field_tag :letters, @characters %>
  <input type="text" name="guess">
  <input type="submit" value="Guess!">
</form>
